body {
    font-family: Arial;   /* fonte usada */
}
 header {
     width: 300px;   /* largura*/
     padding: 10px;  /* altura*/
     background: #9D9171; /* cor do fundo*/
 }
 h1 {
     color:#533745; /* cor da letra*/
     border-bottom: 4px dotted #AB4E68; /* borda abaixo da letra, tamanho da borda, tipo de borda, cor da borda*/
     margin: 0; /* margem no topo da tela*/
     padding-bottom: 10px; /* da espaço entre a letra*/
    }

p {
    color:#C4A287; /* cor da letra*/
}
div.casa p {
    color: darkblue;
    font-size: 20px;
    font-variant: small-caps;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.lugares p {
    color: darkorange;
} 
div#t1 p {
    color: deeppink;
    font-size: 60px;  /*tamanho da font*/
    font-family: 'Times New Roman', Times, serif;  /* define  a familia de font*/
    font-style: italic;  /*stylo da font*/
    font-variant: small-caps; /* deixa o text em letras maiusculas pequenas*/ 
    font-weight: bolder; /* deixa o texto em negrito*/
    text-align: center; /* alinha o text0*/
    text-indent:4px ; /* recuo para iniciar o paragrafo*/
    letter-spacing: 8px; /* espaço entre as letras */
    word-spacing: 3px; /* espaço entre as palavras*/
    text-decoration: overline; /* coloca um linha acima do texto*/
    text-shadow: 2px 2px 8px blue; /*colocar sombra na letra*/
    white-space: nowrap; /* informa o que fazer com a parte branca*/

}
div#t1 {
    background: #C4A287;
    width: 400px;
    padding:8px;
    font-size: 30px;
   border-bottom:1px dotted darkviolet;
}
.teste {
    height: 200px;
    width: 300px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px; /**/
    background-color: blue;/*cor de fundo*/
    color: cornsilk; /*cor da font*/
}





div.rua {
    color:white;
    text-align: center;
    background-image:url("coracao.png");
    height: 650px;  /* Altura*/
    width: 800px;   /*largura*/
    padding:35px;
    font-size: 40px;
    background-repeat: no-repeat; /*paa imagem não se repetir */
    background-position: 200px 0; /*posição que eu quero que a img comece*/
    background-attachment: fixed;  /* para fixar a imagem */
    background-color:rgb(81, 255, 136);
    position: relative;
}
div.rua div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0%;
}


div.bordasteste {
    width: 400px; /*altura*/
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
    border-width: 5px; /* tamanho da borda*/
    border-style: solid; /* stylo da borda */
    border-color: rgba(197, 44, 95, 0.884);
    border-radius: 9px;
}

div.borda { width: 400px; }
p {
    padding: 5px;
    margin: 10px;
    text-align: center;
    border-color: red;
    border-width: 5px;
    color: black;
    border-radius: 10px;
}
.solid { border-style: solid;}
.dotted {border-style: dotted;}
.double {border-style: double;}
.groove {border-style: groove;}
.ridge {border-style:ridge;}
.inset {border-style: inset;}
.outset{border-style: outset;}
.hidden {border-style: hidden}


.lista1 {
    font-size: 20px;
} 
ul.a {
    list-style-type: none;
}
ul.b {
    list-style-type: upper-roman;
}
div.position p {
    position: relative; /* onde umelemento deve esta localizado na pagina*/
    left: 50px;  /*esoaçamento do texto para o box*/
    background-color: yellow; /*cor de fundo*/
    width: 140px; /*altura*/
}
 div.p1 {
     color: tomato;
     position: relative;
     top: 50px;
     left: 50px;
     padding: 20px;
 }
     
 .fixed p {
     position: fixed;
     background-color: rgba(191, 211, 216, 0.616);
     top: 1px;
     left: 5px;
     border: tomato;
     border-style: inset;
     padding: 25px; 
 }



 .relative  {

    background-color: rgb(81, 255, 136);
    width: 500px;
    height: 400px;
    left: 100px;
    position: relative;
 }
 .absolut {
     background-color: blue;
     width: 50px;
     height: 50px;
     right: 0px;
     top: 0px;
     position: absolute;

    
 }

 